@keyframes scissors-bottom {
  0% {
    transform: rotate(0deg);
  }
5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);

  }
  30% {
    transform: rotate(0deg);

  }
  35% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);

  }
  85% {
    transform: rotate(20deg);

  }
  90% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }


}
@keyframes scissors-top {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-20deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);

  }
  30% {
    transform: rotate(0deg);

  }
  35% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(0deg);
  }

  45% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(0deg);

  }
  85% {
    transform: rotate(-20deg);

  }
  90% {
    transform: rotate(0deg);
  }
95% {
  transform: rotate(-20deg);

}
  100% {
    transform: rotate(0deg);
  }


}
