main {
  display: table;
  border: solid thin black;
  width: 700px;
  height: 500px;
  border-collapse: separate;
  border-spacing: 8px;
}

section {
  display: table-row;
}

main > header > h1 {
caption-side: top;
display: table-caption;
}

section > h2 {
vertical-align: middle;
padding-inline-start: 6rem;
width: 5rem;
height: 5rem;
display: table-cell;
}

section > h2 ~ p {
  display: table-cell;
}
 
