

#cloud-1 {
background-image: url(../images/cloud.svg);
background-size: 50px 40px;
background-position: left bottom 85%;
background-repeat: no-repeat;
}

#cloud-2 {
background-image: url(../images/cloud.svg);
background-size: 50px 45px;
background-position: right 90% bottom 80%;
background-repeat: no-repeat;

}

#sun {
  background-image: url(../images/sun.svg);
  background-repeat: no-repeat;

}


#house-1 {
background-image: url(../images/house-1.svg);
background-size: 80px 80px;
background-position: bottom left;
background-repeat: no-repeat;

}
#house-2 {
  background-image: url(../images/house-2.svg);
  background-size: 56px 56px;
  background-position: bottom right;
  background-repeat: no-repeat;

}
#tree {
  background-image: url(../images/tree.svg);
  background-repeat: no-repeat;

}
#palm {
  background-image: url(../images/palm-tree.svg);
  background-repeat: no-repeat;

}

#car {
  background-image: url(../images/car.svg);
  background-size: 70px 70px;
  background-position: bottom left;
  background-repeat: no-repeat;

}
