/* Set up */
.centred {
  background-color: rgba(223, 127, 31, 0.5);
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.centred > * {
  margin: 0;
  background-color: inherit;
  padding: 1rem;
}
div div .centred {
margin-inline-start: 1rem;
margin-inline-end: 1rem;
}
/* 4 */
[data-example="4"] .centred{
display: flex;
justify-content: center;
 position: relative;
 top: 2.5rem;

}

/* 5 */

[data-example="5"] .centred{
transform: translateY(50%);
text-align: center;
}

[data-example="5"] .centred p{
  display: inline-block;
}

[data-example="6"] .centred{
  margin-block-start: 2.5rem;
}

[data-example="6"] .centred p{
  align-self: center;
  max-width: max-content;

  }
