
 /*
 section:nth-of-type(2) .container > div img[src="images/inspector_gadget.jpg"] {
  float: left;

}

section:nth-of-type(2) .container img[src="images/doctor_claw.png"] {
  float: left;
  clear: left;
}

section:nth-of-type(2) .container p {
  display: table;
}
*/

section:nth-of-type(2) .container div {
  display: inline-block;
}

section:nth-of-type(2) .container > div img[src="images/inspector_gadget.jpg"]  {
  float: left;
  margin-inline-start: 0rem;
}
section:nth-of-type(2) .container div:nth-of-type(2) img[src="images/doctor_claw.png"] {
  float: left;
  margin-inline-start: 1rem;
}

section:nth-of-type(2) .container p {
  display: flex;
}
