
:root {
  --measure: 20;
  --counter-name: item;
  --colour:  rgb(63, 63, 63);
  --number: 0;
  --column-repetition:10;
}

#dry .grid {
display: inline-grid;
grid-template-columns: repeat(var(--column-repetition), calc(var(--measure) * 1px));
}

#dry a {
display: block;
position: relative;
width: calc(var(--measure) * 1px);
height: calc(var(--measure) * 1px);
background-color: var(--colour);
transition: background-color 1s;
counter-increment: var(--counter-name);
}

#dry a:hover {
background-color: rgb(var(--number), var(--number),var(--number));
}

#dry a::before {
content: counter(var(--counter-name));
position: absolute;
top: var(--number);
left: var(--number);
width: calc(var(--measure) * 1px);
text-align: center;
font-size: calc(var(--column-repetition) * 1px);
line-height: calc(var(--measure) * 1px);
font-weight: 700;
color: var(--colour);
transition: color 1s;
}

#dry a:hover::before {
color: rgb(255, 255, 255);
}
