
:root {
  --measure: 20;
  --counter-name: item;
  --colour:  rgb(63, 63, 63);
  --number: 0;
  --column-repetition:10;
}

#dry .grid {
display: inline-grid;
grid-template-columns: repeat(var(--column-repetition), calc(var(--measure) * 1px));
}

#dry a {
display: block;
position: relative;
width: calc(var(--measure) * 1px);
height: calc(var(--measure) * 1px);
background-color: var(--colour);
transition: background-color 1s;
counter-increment: var(--counter-name);
}

#dry a:hover {
background-color: rgb(var(--number), var(--number),var(--number));
}

#dry a::before {
content: counter(var(--counter-name));
position: absolute;
top: var(--number);
left: var(--number);
width: calc(var(--measure) * 1px);
text-align: center;
font-size: calc(var(--column-repetition) * 1px);
line-height: calc(var(--measure) * 1px);
font-weight: 700;
color: var(--colour);
transition: color 1s;
}

#dry a:hover::before {
color: rgb(255, 255, 255);
}
/*

.row:nth-of-type(2) a{
  --row-numbers: 2;
  --column-numbers: 2;
  }


.row:nth-of-type(3) a {
  --row-numbers: 3;
  --column-numbers: 1;
  }


  .row:nth-of-type(4) a {
    --row-numbers: 4;
    --column-numbers: 1;
    }

    .row:nth-of-type(5) a {
      --row-numbers: 5;
      --column-numbers: 1;
      }


      .row:nth-of-type(6) a {
        --row-numbers: 6;
        --column-numbers: 1;
        }

        .row:nth-of-type(7) a {
          --row-numbers: 7;
          --column-numbers: 1;
          }


          .row:nth-of-type(8) a {
            --row-numbers: 8;
            --column-numbers: 1;
            }

            .row:nth-of-type(9) a {
              --row-numbers: 9;
              --column-numbers: 1;
              }


              .row:nth-of-type(10) a {
                --row-numbers: 10;
                --column-numbers: 1;
                }
*/
