.example {
  background-image: linear-gradient(to left, rgba(128, 128, 128, 0.371) 0% 50%, rgba(128, 128, 128, 0.359) 50% 100% );

}

.icon {
  background-color: beige;
font-size: 1rem;
padding: 1rem;
line-height: 1;
text-decoration: none;
color: black;
display: inline-block;
border-radius: 0.125rem;
font-weight: 700;
text-transform: uppercase;
margin-top: 0.75rem;
position: relative;

}
.icon_left {
  padding-left: 3rem;
}

.icon_right {
  padding-right: 3rem;
}

   .icon_left::before {
  content: " ";
  background-image: url(../images/icon-facebook.png);
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  margin-top: -0.75rem;

}
.icon_right::after {
  content: " ";
  margin-top: 0.75rem;
  background-image: url(../images/icon-facebook.png);
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  margin-top: -0.75rem;
}
/*
.icon_right::after {
 content: "";
background-image: url(../images/icon-facebook.png);
display: inline-block;
width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
background-repeat: no-repeat;
background-size: contain;

}
*/
