.a11y {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.progress_indicator {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.progress_indicator li {
counter-increment: step_number;
}

.progress_indicator li > * {
  display: block;
  padding: 1rem;
  color: #000;
  padding-inline-start: 3rem;
  position: relative;
}

.progress_indicator li > *::before {
  content: counter(step_number);
  position: absolute;
  left: 1rem;
  text-align: center;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.5rem;
  border-radius: 50%;

}
/*Back link, or previous steps */
.progress_indicator a{
text-decoration: none;
}

.progress_indicator a::before {
  background-color: green;
  color: #fff;
  }
  
/* current steps */

.progress_indicator b::before {
background-color: gold;
}

.progress_indicator b {

}
/* future steps */
.progress_indicator span::before {
background-color: red;
color: #fff;
}

.progress_indicator span {
  opacity: 0.75;
}

.progress_indicator::after {
  content: '';
  width: 0.25rem;
  position: absolute;
  top: 1rem;
  left: 1.75rem;
  bottom: 1rem;
  background-color: black;
  margin-inline-start: -0.125;
  z-index: -1;
}
/*.progress_indicator {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  counter-reset: li;
  margin: 0;
}



.progress_indicator li {
  flex-direction: column;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  line-height: 3rem;

}
.progress_indicator li::before {
  width: 3rem;
  height: 3rem;
  counter-increment: li;
  align-self: center;
  content: counter(li);
  border: solid transparent;
  border-radius: 50%;
  padding: .5rem;
  color: white;
  line-height: 3rem;
  background-color: rgba(255, 192, 245, 0.76);


}
.progress_indicator li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.835);
}

.progress_indicator li a:hover {
  color:rgba(119, 0, 255, 0.527);
}
*/

