/*
1. Pseudo-elements

a. The special property that we can use pseudo elements with is content.
We have to use it because the initial value of content is normal , which computes to 'none' on the ::before and ::after pseudo-elements.


b. We can use 'counter() or counters()' fonction in that property's value.

c. The various pseudo-elements are:
:before
:after
:first-letter
:first-line
:election

d. We would use pseudo elements because we do not have any element to specify but we want to style some parts of an element, and it is better to use them than modifying the html document.

2. Counters

a. we count in css by using
counter-reset: creates or resets a counter
counter-increment: increments a counter value
content: inserts generated content
counter() or counters() function: adds the value of a counter to an element
 The name cannot start with two dashes and can't be none, unset, initial, or inherit.

b. We reset the counter by setting the css counter a given number
- A <custom-ident> naming the counter, followed optionally by an <integer> . we can specify as many counters to reset as we want, but each name or name-number must be separated by a space.
- Using the value 'none'.

c- Counters are really useful for counting, measuring time and frequency.

3. Lists
a. Properties that are related to list:
list-style, text-decoration, padding, margin, border, ligne-height, font-family, font-style, font-weight, font-height, ,list-style-type.

b. types of bullets styles:
Circles as Bullets
Discs as Bullets
Images as Bullets
Roman Numerals
Squares as Bullets
Custom Bullets

c. It might be possible to style any group of elements to look like a list but we need to use special properties. If possible, we may well use the 'list-style-type' property and some pseudo-elements.

*/



