/* Styles for all mediums go here */
@media all {
a::after {
  content: " [" attr(href) "]";
  }
abbr::after {
  content: " [" attr(title) "]";
}
blockquote::after {
   content: " [" attr(cite) "]";
 }

}

/* Only styles for printers please */
@media print {

}
