/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        a. List item `<li>`
        b. List item (with a List) `<li>` with a `<ol>` child
          i. Nested list item `<li>`
          ii. Nested list item `<li>`
          iii. Nested list item `<li>`
          iv. Nested list item `<li>`
          …
        c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

body {
counter-reset: section;
font-family: Arial, Helvetica, sans-serif;
white-space: normal;
overflow: auto;
text-overflow: ellipsis;

}



section > h3::before {

  counter-increment: section;
  content: counter(section) ".";

}

section > h3 {
  counter-reset: h4;
  font-size: 1.5rem;
}

section > h4::before {
  counter-increment: h4;
  content:counter(section) "." counter(h4) ".";


}

section > h4 {

  counter-reset:  ol;
  font-size: 1rem;
  padding-inline-start: 1rem;

}

section ol::before {
  counter-increment: ol;
  content: counter(section) "." counter(h4) "." counter(ol,lower-alpha) ".";
  font-weight: bold;

}

section ol {
  counter-reset: li;

}

  ol li {
  list-style-type: none;
}

section ol > li::before {

  counter-increment: li;
  content: counter(section) "." counter(h4) "." counter(ol,lower-alpha)"." counter(li,lower-roman) ".";
  font-weight: bold;
  padding-inline-start: 8px;
}
p {
  padding-inline-start: 2rem;
}



