/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        a. List item `<li>`
        b. List item (with a List) `<li>` with a `<ol>` child
          i. Nested list item `<li>`
          ii. Nested list item `<li>`
          iii. Nested list item `<li>`
          iv. Nested list item `<li>`
          …
        c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

body {
counter-reset: section;
font-family: Arial, Helvetica, sans-serif;
white-space: normal;
overflow: auto;
text-overflow: ellipsis;


}



h3::before {
  /* Increment "subsection" by 1 */
  counter-increment: section;
  content: counter(section) "."  ;

}
h3 {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
  font-size: 1.5rem;
}

h4::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content:counter(section) "." counter(my-sec-counter) ". ";


}

h4 {
  /* Set "my-third-counter" to 0 */
  counter-reset: my-third-counter;
  font-size: 1rem;
  padding-inline-start: 1rem;

}

ol::before {
  counter-increment: my-third-counter;
  content: counter(section) "." counter(my-sec-counter) "." counter(my-third-counter,lower-alpha) ".";
  font-weight: bold;

}

ol{
  counter-reset:  my-forth-counter;

}

li {
  list-style-type: none;
}

ol li::before {
  /* Increment "my-forth-counter" by 1 */
  counter-increment: my-forth-counter;
  content: counter(section) "." counter(my-sec-counter) "." counter(my-third-counter,lower-alpha)"." counter(my-forth-counter,lower-roman) ".";
  font-weight: bold;
  padding-inline-start: 8px;
}
p {
  padding-inline-start: 2rem;


}
