.position {
background-image: url('../images/bubble.png'),
                  url('../images/crab.png'),
                  url('../images/coral-reef.png'),
                  linear-gradient(to bottom,rgb(0, 162, 255),rgb(38, 0, 255));
background-repeat: repeat-x, no-repeat, repeat-x;
background-position: top, bottom left, bottom;
background-size: 600px, 10cm, 20cm;

}

#background {
background-color:rgb(135, 203, 235);
background-image:
                  url('../images/grass-clump.png'),
                  url('../images/grass-left.png'),
                  url('../images/grass-tile.png'),
                  url('../images/beach-ball.png'),
                  url('../images/sun.png');
background-repeat: no-repeat, repeat-x, no-repeat, no-repeat, no-repeat;
background-position:center, center, center, center right, top left;
background-size: 10cm, 35cm, 35cm, 200px, 250px;

}


#source {
background-color:rgb(135, 212, 235);
background-image: url('../images/lu-seal.png'),
                  url('../images/palm.png'),
                  url('../images/palm-2.png');

background-position: 100in ;
background-repeat: no-repeat, repeat-x,repeat-x;

}

.crab {
  background-image: url('../images/crab.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 135px;
  size: 33px;
  }
