section:nth-of-type(1) .container {
  width: 200px;
  height: 200px;
  position: relative;
}

section:nth-of-type(1) .container svg {
  width: 25%;
  height: 25%;
  position: absolute;
}

section:nth-of-type(1) .container .circle {
bottom: 0%;
right: 0%;
}

section:nth-of-type(1) .container .rect {
  top: 0%;
  left: 0%;
}

  section:nth-of-type(1) .container .pipe {
    bottom: 0%;
}

section:nth-of-type(1) .container .bar {
  right: 0;
}


/*section:nth-of-type(1) .example {
  max-width: 200px;
  min-height: 210px;
}

section:nth-of-type(1) .container svg {
  width: 25%;
  height: 8%;
  position: absolute;
}

 section:nth-of-type(1) .circle {
  bottom: -15.8%;
  left: 3%;
}


section:nth-of-type(1) .rect {
  top: 81.9%;
  right: 83.2%;
}


section:nth-of-type(1) .pipe {
  bottom: -15.7%;
  left: -8%;

}

section:nth-of-type(1) .bar {
  bottom: 10.5%;
  right: 72%;
}
*/

