section:nth-of-type(4) .container {
  width: 200px;
  height: 200px;
  position: relative;
}

section:nth-of-type(4) .container svg {
  position: absolute;
  width: 100%;
}
section:nth-of-type(4) .container .circle {
  z-index: 2;
}

section:nth-of-type(4) .container .pipe {
  z-index: 4;
  left: 0rem;
}

section:nth-of-type(4) .container .bar {
  z-index: 3;
  right: 0rem;
}

 /*
section:nth-of-type(4) .container {
  position: relative;
  max-width: 200px;
  max-height: 12.5rem;
}
section:nth-of-type(4) .container .circle {
  position: relative;
  width: 100%;
  z-index: 2;
}

section:nth-of-type(4) .container .rect {
  position: relative;
  width: 100%;
  top: -12.8rem;
  z-index: 1;
}

section:nth-of-type(4) .container .pipe {
  position: relative;
  bottom: 25.6rem;
  z-index: 4;
}

section:nth-of-type(4) .container .bar {
  position: relative;
  bottom: 39rem;
  z-index: 3;
}
*/
